{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Stage 1: Make a Decision
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
You are player {{player.MyNumber}}.
<br>
Do you want to start experimenting? {% formfield player.VerbalVoteStage1 with label=""%}

    {% next_button %}
{% endblock %}