{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Stage 2: Do you want to Continue Experimenting?
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
<br>
<table class="table">
	<tr>
		<td>
		</td>
		<td>
			<font size="4"> Your are player {{player.MyNumber}}
			<br>
			{% for p in player.group.get_players %}
			Player {{p.MyNumber}} got signal {{p.VerbalSignal1}}
			<br>
			{% endfor %}
			</font>
		</td>
	</tr>

	<tr>
	<td>
	</td>
	<td>
		<font size="4">Do you want to continue experimenting? {% formfield player.VerbalVoteStage2 with label=""%}</font>

	</td>
	</tr>
</table>



    {% next_button %}
{% endblock %}