{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Stage 1: Make a Decision
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
Your are player {{player.MyNumber}}
<br>
{% for p in player.group.get_players %}
Player {{p.MyNumber}} got signal {{p.VerbalSignal1}}
<br>
{% endfor %}

    {% next_button %}
{% endblock %}