{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Decision Stage
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
<div class="row">
	<div class="col-sm-3">
		<div class="olive_div">
			Your endowment is <br>
			{{player.endowment}}
		</div>
	</div>
	
	<div class="col-sm-9">

<table class="table">
	<tr>
		<td> <font size="5"> What is your action? </td> 
		<td> <font size="4"> {% formfield player.action with label="" %} </td>
	</tr>
	<tr>
		<td>
		</td>
		<td>
    	{% next_button %}
    	</td>
    </tr>
</div>

{% endblock %}
