{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div align="center">
    Welcome to the experiment!
</div>
{% endblock %}

{% block content %}

<p>
<div align="center" >
<font size="4">
Please silence your cellphones if you have not done so

Throughout the experiment, you may not talk to your fellow participants

If you have any questions, please raise your hand and ask the experimenter quietly

Please do not log out from the website at any point of the experiment
</font>
</div>
</p>

<p><div align="center">
	<font size="4">

<b> <i>
	Any violation of these rules will result in everyone’s dismissal from this experiment

and forfeiture of all cash payments 
</b></i>
	</font>
</div>

</p>

{% endblock %}
