{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Quiz: Please answer the following questions.
{% endblock %}

{% block content %}

<table class="table">
	<tr> <td> </td> <td> </td>
		<td> Prices (tokens per $) </td>
		<td> Quantities </td>
		<td> </td>
	</tr>
	<tr>
		<td> Is the following allocation feasible? </td> 
		<td> Cash: <br>  Mason Money: <br> Barnes and Noble: </td>
		<td> <b> 4 </b> tokens per $ <br> 
			 <b> 10 </b> tokens per $ <br>
			 <b> 6 </b> tokens per $ <br>
		</td>
		<td> <b> $10 <br>
			 $0 <br>
			 $10 <br> </b>
		</td>
		<td> {% formfield player.Q1 with label=""%} </td>
	</tr>
	<tr>
		<td> Is the following allocation feasible? </td>
		<td> Cash: <br>  Mason Money: <br> Barnes and Noble: </td>
		<td> <b> 4 </b>  tokens per $ <br> 
			 <b> 12 </b> tokens per $ <br>
			 <b> 10 </b> tokens per $ <br>
		</td>
		<td> <b> $5 <br>
			 $3 <br>
			 $5 <br></b>
		<td> {% formfield player.Q2 with label=""%} </td>
	</tr>
	<tr>
		<td> Is the following allocation feasible? </td>
		<td> Cash: <br>  Mason Money: <br> Barnes and Noble: </td>
		<td> <b> 10 </b> tokens per $ <br> 
			 <b> 10 </b> tokens per $ <br>
			 <b> 2.5 </b> tokens per $ <br>
		</td>
		<td> <b> $5 <br>
			 $5 <br>
			 $5 <br> </b>
		<td> {% formfield player.Q3 with label=""%} </td>
	</tr>
	<tr>
		<td> Is the following allocation feasible? </td>
		<td> Cash: <br>  Mason Money: <br> Barnes and Noble: </td>
		<td> <b> 2.5 </b> tokens per $ <br> 
			 <b> 5 </b> tokens per $ <br>
			 <b> 10 </b> tokens per $ <br>
		</td>
		<td> <b> $10 <br>
			 $5 <br>
			 $5 <br> </b> 
		<td> {% formfield player.Q4 with label=""%} </td>
	</tr>
	<tr>
		<td> Is the following allocation feasible?</td>
		<td> Cash: <br>  Mason Money: <br> Barnes and Noble: </td>
		<td> <b> 7 </b> tokens per $ <br> 
			 <b> 8 </b> tokens per $ <br>
			 <b> 15 </b> tokens per $ <br>
		</td>
		<td> <b> $3 <br>
			 $5 <br>
			 $4 <br> </b>
		<td> {% formfield player.Q5 with label=""%} </td>
	</tr>
	<tr></tr>
	<tr>
		<td>  </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> {% next_button %} </td>
	</tr>
</table>
{%endblock%}