{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Stage 3
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/dev/topics/templates/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
<br>
<table class="table">
	<tr>
		<td width="55%">
			<font size="4">You can choose to <b>IMPLEMENT</b> the project or <b>STOP</b>. If majority of you choose to <b>STOP</b>, the project is <b>NOT</b> implemented and this round ends. Otherwise, the project will be implemented. Each group member’s payoff will be revealed at the end of the round. </font>
		</td>
		<td >
					<center><font size="4"> Your are player {{player.MyNumber}}
			<br><br>
			{% for p in player.group.get_players %}
			{%if p.MyNumber == player.MyNumber %} 
			<font color="red"> <b> Player {{p.MyNumber}} got signal {{p.VerbalSignal2}}</b> </font>
			{%else%}
			Player {{p.MyNumber}} got signal {{p.VerbalSignal2}}
			{%endif%}
			<br>
			{% endfor %}
			</font></center>

		</td>
	</tr>

	<tr>
	<td>
		<img src="http://mason.gmu.edu/~mfreer/game_tree_T2.png" style="width:100%;height:100%;">

	</td>
	<td>
		<center><font size="4">Do you want to continue experimenting? {% formfield player.VerbalVoteStage3 with label=""%}</font></center>

	</td>
	</tr>
	<tr>
		<td>
		</td>
		<td align="right">
			  <right>{% next_button %}</right>
		</td>
	</tr>
</table>



{% endblock %}