{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
DECISION SHEET FOR THE RESPONDER ROLE:
{% endblock %}



{% block content %}
<h4>
Suppose you are the Responder. Choose <u>either Accept or Reject in column B</u>. Please complete the table for each possible alternative.
</h4>


<font size="4">
<table class="table", border="1", align="center">
	<tr>
		<td></td>
		<td> <center> A. <br> If you are the Responder and the <br> Proposer chooses Proposal Rule... </center> </td>
		<td> <center> B. <br> 
...then I choose to <br> (choose one for Proposal Rule):  </center></td>
	</tr>
	<tr>
		<td> <center>a </center> </td>
		<td> 
		Proposer gets &emsp;  ${{ proposer_earning_a}} &emsp; and &emsp; Responder gets  &emsp; ${{responder_earning_a}}
		</td>
		<td>
			<center>Accept <input type="radio" id="id_rca_1" name="responders_choice_a" value="1" required> &emsp; &emsp; <input type="radio" id="id_rca_0" name="responders_choice_a" value="0" required> Reject
		</td>
 	</tr>
	<tr>
		<td> <center>b</center></td>
		<td> 
		Proposer gets &emsp; ${{ proposer_earning_b}} &emsp; and &emsp; Responder gets &emsp; ${{responder_earning_b}}</td>
		<td>
			<center>Accept <input type="radio" id="id_rcb_1" name="responders_choice_b" value="1" required> &emsp; &emsp; <input type="radio" id="id_rcb_0" name="responders_choice_b" value="0" required> Reject
		</td>
	</tr>
	<tr>
		<td> <center>c</center></td>
		<td> 
		Proposer gets  &emsp; ${{ proposer_earning_c}}  &emsp; and &emsp; Responder gets &emsp; ${{responder_earning_c}}
 		</td>
 		<td>
			<center>Accept <input type="radio" id="id_rcc_1" name="responders_choice_c" value="1" required> &emsp; &emsp; <input type="radio" id="id_rcc_0" name="responders_choice_c" value="0" required> Reject
		</td>
	</tr>
	<tr>
		<td> <center>d</center> </td>
		<td> 
		Proposer gets &emsp; ${{ proposer_earning_d}} &emsp; and &emsp; Responder gets &emsp; ${{responder_earning_d}}
 		</td>
 		<td>
			<center>Accept <input type="radio" id="id_rcd_1" name="responders_choice_d" value="1" required> &emsp; &emsp; <input type="radio" id="id_rcd_0" name="responders_choice_d" value="0" required> Reject
		</td>
	</tr>
	<tr>
		<td> <center> e </center> </td>
		<td> 
		Proposer gets  &emsp; ${{ proposer_earning_e}} &emsp; and &emsp; Responder gets &emsp; ${{responder_earning_e}}
 		</td>
 		<td>
			<center>Accept <input type="radio" id="id_rce_1" name="responders_choice_e" value="1" required> &emsp; &emsp; <input type="radio" id="id_rce_0" name="responders_choice_e" value="0" required> Reject
		</td>
	</tr>
	<tr>
		<td><center> f</center> </td>
		<td> 
		Proposer gets &emsp; ${{ proposer_earning_f}} &emsp; and &emsp; Responder gets  &emsp; ${{responder_earning_f}}
 		</td>
 		<td>
			<center>Accept <input type="radio" id="id_rcf_1" name="responders_choice_f" value="1" required> &emsp; &emsp; <input type="radio" id="id_rcf_0" name="responders_choice_f" value="0" required> Reject
		</td>
	</tr>
	<tr>
		<td><center> g</center> </td>
		<td> 
		Proposer gets &emsp; ${{ proposer_earning_g}} &emsp; and &emsp; Responder gets  &emsp; ${{responder_earning_g}}
 		</td>
 		<td>
			<center>Accept <input type="radio" id="id_rcg_1" name="responders_choice_g" value="1" required> &emsp; &emsp; <input type="radio" id="id_rcg_0" name="responders_choice_g" value="0" required> Reject
		</td>
	</tr>
	<tr>
		<td><center> h </center> </td>
		<td> 
		Proposer gets  &emsp; ${{ proposer_earning_h}}  &emsp; and &emsp; Responder gets  &emsp;  ${{responder_earning_h}}
 		</td>
 		<td>
			<center>Accept <input type="radio" id="id_rch_1" name="responders_choice_h" value="1" required> &emsp; &emsp; <input type="radio" id="id_rch_0" name="responders_choice_h" value="0" required> Reject
		</td>
	</tr>
	<tr>
		<td> <center>i</center> </td>
		<td> 
		Proposer gets  &emsp; ${{ proposer_earning_i}}  &emsp; and &emsp; Responder gets  &emsp; ${{responder_earning_i}}
 		</td>
 		<td>
			<center>Accept <input type="radio" id="id_rci_1" name="responders_choice_i" value="1" required> &emsp; &emsp; <input type="radio" id="id_rci_0" name="responders_choice_i" value="0" required> Reject
		</td>
	</tr>
	<tr>
		<td> <center>j</center></td>
		<td> 
		Proposer gets  &emsp; ${{ proposer_earning_j}}  &emsp; and  &emsp; Responder gets  &emsp; ${{responder_earning_j}}
 		</td>
 		<td>
			<center>Accept <input type="radio" id="id_rcj_1" name="responders_choice_j" value="1" required> &emsp; &emsp; <input type="radio" id="id_rcj_0" name="responders_choice_j" value="0" required> Reject
		</td>
	</tr>
	<tr>
		<td> <center>k </center></td>
		<td> 
		Proposer gets &emsp; ${{ proposer_earning_k}} &emsp; and &emsp; Responder gets &emsp; ${{responder_earning_k}} 
 		</td>
 		<td>
			<center>Accept <input type="radio" id="id_rck_1" name="responders_choice_k" value="1" required> &emsp; &emsp; <input type="radio" id="id_rck_0" name="responders_choice_k" value="0" required> Reject
		</td>
	</tr>
	<tr>
		<td> <center>l </center></td>
		<td> 
		Proposer gets  &emsp; ${{ proposer_earning_l}}  &emsp; and &emsp; Responder gets  &emsp; ${{responder_earning_l}}
 		</td>
 		<td>
			<center>Accept <input type="radio" id="id_rcl_1" name="responders_choice_l" value="1" required> &emsp; &emsp; <input type="radio" id="id_rcl_0" name="responders_choice_l" value="0" required> Reject
		</td>
	</tr>
	<tr>
		<td><center> m </center></td>
		<td> 
		Proposer gets &emsp; ${{ proposer_earning_m}} &emsp; and &emsp; Responder gets &emsp;  ${{responder_earning_m}}
 		</td>
 		<td>
			<center>Accept <input type="radio" id="id_rcm_1" name="responders_choice_m" value="1" required> &emsp; &emsp; <input type="radio" id="id_rcm_0" name="responders_choice_m" value="0" required> Reject
		</td>
	</tr> </center>
</table>
</font>
  <div align="right"> {% next_button %} </div>

{% endblock %}
