{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}



{% block content %}
<font size="4">
<table class="table">
	<tr>
		<td> Decision </td>
		<td> Option A </td>
		<td> Option B </td>
		<td> Choose the Option </td>
	</tr>



	<tr>
		<td> 1 </td>
		<td> <b>10% of E$ 40</b> and <b>90% of E$ 32</b> </td>
		<td> <b>10% of E$ 77</b> and <b>90% of E$ 2</b> </td>
		<td> Option A <input type="radio" id="id_L1_1" name="L1" value="1" required> 
			&nbsp;
			<input type="radio" name="L1" value="0" required> Option B
		</td>
			
		</tr>

	<tr>
		<td> 2 </td>
		<td> <b>20% of E$ 40</b> and <b>80% of E$ 32</b> </td>
		<td> <b>20% of E$ 77</b> and <b>80% of E$ 2</b> </td>
		<td> Option A <input type="radio" name="L2" value="1" required> 
			&nbsp;
			<input type="radio" name="L2" value="0" required> Option B
		</td>
	</tr>

	<tr>
		<td> 3 </td>
		<td> <b>30% of E$ 40</b> and <b>70% of E$ 32</b> </td>
		<td> <b>30% of E$ 77</b> and <b>70% of E$ 2</b> </td>
		<td> Option A <input type="radio"  name="L3" value="1" required> 
			&nbsp;
			<input type="radio" name="L3" value="0" required> Option B
		</td>
	</tr>

	<tr>
		<td> 4 </td>
		<td> <b>40% of E$ 40</b> and <b>60% of E$ 32</b> </td>
		<td> <b>40% of E$ 77</b> and <b>60% of E$ 2</b> </td>
		<td>
			Option A <input type="radio"  name="L4" value="1" required> 
			&nbsp;
			<input type="radio" name="L4" value="0" required> Option B
		</td>
	</tr>

	<tr>
		<td> 5 </td>
		<td> <b>50% of E$ 40</b> and <b>50% of E$ 32</b> </td>
		<td> <b>50% of E$ 77</b> and <b>50% of E$ 2</b> </td>
		<td> 
			Option A <input type="radio"  name="L5" value="1" required> 
			&nbsp;
			<input type="radio" name="L5" value="0" required> Option B
		</td>
	</tr>

	<tr>
		<td> 6 </td>
		<td> <b>60% of E$ 40</b> and <b>40% of E$ 32</b> </td>
		<td> <b>60% of E$ 77</b> and <b>40% of E$ 2</b> </td>
		<td> 
			Option A <input type="radio"   name="L6" value="1" required> 
			&nbsp;
			<input type="radio" name="L6" value="0" required> Option B
		</td>
	</tr>

	<tr>
		<td> 7 </td>
		<td> <b>70% of E$ 40</b> and <b>30% of E$ 32</b> </td>
		<td> <b>70% of E$ 77</b> and <b>30% of E$ 2</b> </td>
		<td> 
			Option A <input type="radio"  name="L7" value="1" required> 
			&nbsp;
			<input type="radio" name="L7" value="0" required> Option B
		</td>
	</tr>

	<tr>
		<td> 8 </td>
		<td> <b>80% of E$ 40</b> and <b>20% of E$ 32</b> </td>
		<td> <b>80% of E$ 77</b> and <b>20% of E$ 2</b> </td>
		<td> 
			Option A <input type="radio"   name="L8" value="1" required> 
			&nbsp;
			<input type="radio" name="L8" value="0" required> Option B
		</td>
	</tr>

	<tr>
		<td> 9 </td>
		<td> <b>90% of E$ 40</b> and <b>10% of E$ 32</b> </td>
		<td> <b>90% of E$ 77</b> and <b>10% of E$ 2</b> </td>
		<td>  
			Option A <input type="radio"  name="L9" value="1" required> 
			&nbsp;
			<input type="radio" name="L9" value="0" required> Option B
		</td>
	</tr>

	<tr>
		<td> 10 </td>
		<td> <b>100% of E$ 40</b> and <b>0% of E$ 32</b> </td>
		<td> <b>100% of E$ 77</b> and <b>0% of E$ 2</b> </td>
		<td>
			Option A <input type="radio"  name="L10" value="1" required> 
			&nbsp;
			<input type="radio" name="L10" value="0" required> Option B  
		</td>
	</tr>




	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>{% next_button %}</td>
	</tr>
</table>
</font>


{% endblock %}

	{% for field in form %}
    <tr>
        <td>
            {{ field.label_tag }}
            {{ field.errors }}
        </td>
        <td><input type="radio" name="{{ field.html_name}}" value="True" required {% if field.value == 'True' %}checked{% endif %}></td>
        <td><input type="radio" name="{{ field.html_name}}" value="False" required {% if field.value == 'False' %}checked{% endif %}></td>
    </tr>
    {% endfor %}
