{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Welcome to the experiment!
{% endblock %}

{% block content%}
<h4>You have chance to earn up to extra $4 by playing the post-experiment games. In the games you will earn Experimental Dollars (E$s) which will be converted into cash. Same as the experiment, for every 20 E$ you have at the end of the experiment you will be paid 1 US Dollar. You will NOT be told the names of those in your group and they will NOT be told your name. All participants have identical instructions.  
<br>
<br>
There are two games. At the end of the session, a fair coin will be used to randomly select one of the games to determine your extra payment. Each game has equal chance of being used in the end. 
</h4>


{%endblock%}